<h1 style="text-align: center;">==================== 50 components ====================</h1>
    <div style="display: flex; justify-content: space-between;">
      <div style="width: 40%;">
        <nav>
          <ul style ="list-style-type: none">
              <li><a routerLink="/Hello-World">Component no.1 | Show Hello World</a></li>
              <li><a routerLink="/show-button">Component no.2 | Button</a></li>
              <li><a routerLink="/show-username">Component no.3 | Show Username</a></li>
              <li><a routerLink="/countme">Component no.4 | Let's Count!</a></li>
              <li><a routerLink="/formnathis">Component no. 5 | A Simple Form</a></li>
              <li><a routerLink="/ageyan">Component no. 6 | Show Age</a></li>
              <li><a routerLink="/greetme">Component no. 7 | Greetings</a></li>
              <li><a routerLink="/compute">Component no. 8 | Calculator</a></li>
              <li><a routerLink="/lengthy">Component no. 9 | Text Length</a></li>
              <li><a routerLink="/exchange">Component no. 10 | Money Conversion</a></li>
              <li><a routerLink="/huwhat">Component no. 11 | Even or Odd?</a></li>
              <li><a routerLink="/drowesrever">Component no. 12 | Word Reverser</a></li>
              <li><a routerLink="/whatdaytoday">Component no. 13 | Show Date</a></li>
              <li><a routerLink="/saymyname">Component no. 14 | What is my Username?</a></li>
              <li><a routerLink="/multiplyit">Component no. 15 | Multiplication Table</a></li>
              <li><a routerLink="/signin">Component no. 16 | Sign In</a></li>
              <li><a routerLink="/temperature">Component no. 17 | Farenheit to Celsius</a></li>
              <li><a routerLink="/markthis">Component no. 18 | Bookmark List</a></li>
              <li><a routerLink="/countmein">Component no. 19 | Character Count</a></li>
              <li><a routerLink="/checkitout">Component no. 20 | Palindrome Check</a></li>
              <li><a routerLink="/hottogo">Component no. 21 | Temperature Converter</a></li>
              <li><a routerLink="/minekonaito">Component no. 22 | Shopping List</a></li>
              <li><a routerLink="factnum">Component no. 23 | Factorial Calculator</a></li>
              <li><a routerLink="nugagawen">Component no. 24 | To-Do Manager</a></li>
              <li><a routerLink="gamekanaba">Component no. 25 | Guess the Number Game</a></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
        </nav>
      </div>
    <div style="width: 60%;">
      <router-outlet></router-outlet>
    </div>
  </div>
