<h1>==================== 50 components ====================</h1>
<nav>
  <ul style ="list-style-type: none">
    <li><a routerLink="/Hello-World">Component no.1</a></li>
    <li><a routerLink="/show-button">Component no.2</a></li>
    <li><a routerLink="/show-username">Component no.3</a></li>
    <li><a routerLink="/countme">Component no.4</a></li>
    <li><a routerLink="/formnathis">Component no. 5</a></li>
    <li><a routerLink="/ageyan">Component no. 6</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <router-outlet></router-outlet>
</nav>