<h1>==================== 50 components ====================</h1>
<nav>
  <ul style ="list-style-type: none">
    <li><a routerLink="/Hello-World">Component no.1</a></li>
    <li><a routerLink="/show-button">Component no.2</a></li>
    <li><a routerLink="/show-username">Component no.3</a></li>
    <li><a routerLink="/countme">Component no.4</a></li>
    <li><a routerLink="/formnathis">Component no. 5</a></li>
    <li><a routerLink="/ageyan">Component no. 6</a></li>
    <li><a routerLink="/greetme">Component no. 7</a></li>
    <li><a routerLink="/compute">Component no. 8</a></li>
    <li><a routerLink="/lengthy">Component no. 9</a></li>
    <li><a routerLink="/exchange">Component no. 10</a></li>
    <li><a routerLink="/huwhat">Component no. 11</a></li>
    <li><a routerLink="/drowesrever">Component no. 12</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <router-outlet></router-outlet>
</nav>